.person{
    position: relative;
    background: #004047;

    &::before{
        position: absolute;
        display: block;
        width: 100px;
        height: 200px;
        content: "";
        background-image: url(/images__about/About__about-left.svg);
    }

    &::after{
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 147px;
        height: 100px;
        content: "";
        background-image: url(/images__about/About__about-right.svg);
    }

    &__inner{
        padding: {
            top: 140px;
            bottom: 168px;
        };
    }

    &__title{
        margin: 0 auto;
        margin-bottom: 64px;
        text-align: center;
        @include font (normal, 700, 48px, 48px, #fff);
    }

    &__list{
        @include row;
        flex-wrap: wrap;
    }

    &__item{
        position: relative;
        width: 350px;
        margin-right: 30px;
        margin-bottom: 76px;
        &:nth-child(3){
            margin-right: 0;
        }
        &:nth-child(6){
            margin-right: 0;
        }
        padding: {
            top: 32px;
            bottom: 56px;
        };
        text-align: center;
        background: #012F34;

        &-btn{
            position: absolute;
            right: 0;
            left: 0;
            bottom: -28px;
            display: block;
            width: 56px;
            height: 56px;
            margin: 0 auto;
            background: #F67E7E;
            border-radius: 50%;
            border: transparent;
        }
    }

    &__item-img{
        margin-bottom: 16px;
    }

    &__item-title{
        @include font (normal, 700, 18px, 28px, #79C8C7)
    }

    &__item-text{
        font-family: 'Livvic';
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
    }

    &__item-description{
        display: none;
    }

    &__logo-link{
        display: none;
    }

    &__btn{
        display: none;
    }
}

.item-btn{
    position: absolute;

    &__line{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        width: 16px;
        height: 4px;
        background-color: #012F34;
        content: "";

        &::after{
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: block;
            width: 16px;
            height: 4px;
            background-color: #012F34;
            content: "";
            transform: rotate(90deg);
        }
    }
}

.item-btn{
    display: block;
}

.item-btn--opened{
    
    &::before,
    &::after{
        position: absolute;
        width: 100%;
        z-index: 3;
    }

    &::before{
        transform: rotate(45deg);
    }
    
    &::after{
        transform: rotate(-45deg);
    }
}