.footer{
    background: #002529;

    &__inner{
        @include row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 48px 0;
    }
    
    &__wrapper{
        @include row;
        align-items: flex-start;
    }

    &__links{
        margin-right: 125px;
    }

    &__logo{
        margin-bottom: 25px;
    }
    
    &__list{
        @include row;
    }
    
    &__item{
        margin-right: 40px;
        &:last-child{
            margin-right: 0;
        }
    
        &-link{
            @include font (normal, 600, 18px, 28px, #fff);

            &:hover{
                color: #F67E7E;
            }
        
            &:active{
                color: #F67E7E;
                opacity: 0.8;
            }
        }
    }

    &__card-link{
        @include font (normal, 600, 15px, 25px, #fff);
        opacity: 0.6;

        &:hover{
            color: #F67E7E;
            opacity: 1;
        }
    
        &:active{
            color: #F67E7E;
            opacity: 0.8;
        }
    }

    &__logos{
        text-align: end;
        margin-bottom: 51px;
    }

    &__logo-link{
        margin-right: 16px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__social{
        color: #FFFFFF;
        transform: scale(1);
        transition: all 0.6s ease;

        &:hover{
            transform: scale(2);
            color: #F67E7E;
        }

        &:active{
            transform: scale(0.5);
            color: #F67E7E;
            opacity: 0.8;
        }
    }

    &__logos-description{
        @include font (normal, 600, 15px, 25px, #fff);
        opacity: 0.6;
    }
}